.page_header {
	text-align: center;
}
.sidebar {
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	/* padding: 26px 0 0; */
	position: absolute;
	transition: transform 0.25s ease-out;
	width: 300px;
	height: 100%;
	z-index: 3;
	/* margin-left: 1%; */
}
.results-list {
	/* padding: 4em 0 0; */
	padding: 0 0 0 8px;
	overflow-y: auto;
	/* height: 90%; */
	height: 829px;
	/* width: inherit; */
	width: 292px;
	overflow-x: hidden;
	margin: 4em 0 0;
}
.input-wrap {
	display: flex;
	align-items: center;
	transition: all 0.2s ease;
	transform: translateY(49px);
	z-index: 1;
	margin-bottom: 2em;
	border-bottom: 1px solid #eee;
	position: relative;
	background: #fff;
}
.input-wrap input {
	outline: none;
	border: none;
	width: 100%;
    /* padding: 0 7px; */
	padding: 0 25.58px;
    /* line-height: 30px; */
	line-height: 51.16px;
	font-size: 14px;
	text-align: center;
}
section.content {
	position: relative;
	top: 7em;
	right: 10em;
	bottom: 0;
	left: 32em;
	transition: left 0.25s ease;
}
